div#map {
    float: right;
    position: fixed;
    top:0;
    bottom:0;
    left:50%;
    right:0;
}

div#list {
    width: 50%;
    height: 100%;
    float: left;
}

.row {
    padding-top: 15px;
    padding-bottom: 15px;
}

.card-img-top {
    height: 150px;
    object-fit: cover;
}

.card-body {
    font-size: .9rem;
}

.fas {
    padding-right: 10px;
}

.fa-check-circle {
    color: blue;
}

.fa-times-circle {
    color: gray;
}

.card-title {
    margin-bottom: 2px;
}

.info-link, .info-link:hover {
    text-decoration: none;
    color: inherit;
}
