@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  font-family: 'Lato', sans-serif;
  margin: 20px;
}

header img {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}
