.signin-text {
  text-align: center;
  padding: 20px;
  color: white;
}

#signin-bkg {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  padding: 50px;
  width: 45%;
  margin: auto;
}

.signin-outer {
  width: 100%;
  height: calc(95vh - 20px);
  margin: 0;
  padding-top: 17vh;
  background: linear-gradient(0deg, rgba(9, 198, 249, 0.6), rgba(4, 93, 233, 0.6)), url('../../seattle.jpg');
  background-size: cover;
}

#credits {
  font-size: 50%;
}
