#left-view-home {
  display: block;
}

#category {
  text-align: center;
}

#category .icon-background {
  color: lightblue;
}

#category a {
  text-decoration: none;
}

.no-background-btn {
  border: none;
  background-color: unset;
  color: unset;
  padding: 20px 0px;
}
