.universal-nav {
  background-color: #34A4EB;
}

.input-group {
  width: 45vw;
}

#acronym {
  display: none;
}

#nav-link {
  display: block;
  padding: 0;
}

span a {
  padding-right: 10px;
}

/* 414px is iPhone+ */
@media (max-width: 414px) {
  #name {
    display: none;
  }

  #acronym {
    display: inline;
  }
}

.initial {
  display: inline-block;
  border-radius: 50%;
  background-color: grey;
  height: 25px;
  width: 25px;
  text-align: center;
  color: white;
  margin-right: 16px;
}
