.infoImgPlaceholder {
    width: 30%;
    object-fit: cover;
}

#back-button {
float:right;
}

#info-Header {
  display: block;
  float: left;
}

.infoHeader {
    border-bottom: 1px solid darkgray;
}

.locationDetails {
    padding-left: 15px;
}

.flex {
    display: flex;
    flex-direction: row;
}

.reviewHeader {
    justify-content: space-between;
}

.info {
    padding: 2%;
}

.review {
    background: #ededed;
    border-radius: 10px;
    margin-top: 25px;
}

.icon {
    margin-top: 8px;
}

.infoImg {
    width: 23%;
    border-radius: 15px;
    margin-right: 3%;
}

.images {
    display: flex;
    justify-content: space-between;
}

.nobackground {
    background: none;
    border: none;
}

.tag {
    border-radius: 20px;
    border: 1px solid black;
    width: fit-content;
    padding: 1%;
}

.dropDown {
    padding-left: 3px;
}

.info-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    padding-left: 10px;
}

.info-details {
    width: 100%;
    padding: 1% !important;
    padding-left: 10px;
}

.hours-link {
    display: block;
    padding-right: 10px;
    text-decoration: none !important;
}

.locationDetails {
    width: 100%;
}

.info-details:hover {
    background-color: #F8F8FF;
}

.reviews-title {
    margin-top: auto;
}

.mainPageHeader {
    text-align: center;
}

/* following css code is from: https://codepen.io/menelaosly/pen/rZddyb with changes */
/***********************************************************************/
#review-search {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid #07051a;
    padding: 5px;
}

#about-us {
    width:100%;
}

input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    ;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.search-bar .fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.search-bar {
    margin-right: .5rem;
}

#review-search:hover {
    width: 200px;
    cursor: pointer;
}

#review-search:hover input {
    display: block;
}

#review-search:hover .fa {
    /* background: #07051a; */
    color: #07051a;
}

/***********************************************************************/
