.mainPageHeader {
    text-align: center;
}
#left-view-home {
    display: block;
    float:left;
}
.left-view {
    width: 40%;
    height: calc(100% - 40px);
    overflow: auto;
    margin:0px;
  }
  
