/* 
.leaflet-container {
    height: 100%;
    width: 60%;
    display: flex;

  } */

.map-display {
    height:100%;
    width: 60%;
    display:flex;
    float:right
}

#leaflet-map {
    height:100%;
    width:100%;
}